* {
  font-family: 'Courier New', Courier, monospace;
}

.wrapper * {
  background: #fffef2;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: 70px 20px auto 70px;
    height: 100vh;
    column-gap: 0px;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

footer {
  grid-column-start: 2;
  grid-column-end: 4;
}

side {
  grid-row-start: 1;
  grid-row-end: 5;
}

content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.topnav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.topnav a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  margin: 14px;
}

.topnav a:hover {
  color: red;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer full {
  flex-basis: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  /* margin: 0px; */
  /* flex-wrap: wrap; */
}

.side blank {
  height: 100px;
}

.side name {
  padding-right: 10px;
  padding-left: 5px;
  text-align: left;
  padding-bottom: 0px;
  /* background-color: red; */
}

.side about {
  padding-left: 5px;
  padding-right: 25px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 13pt;
  max-width: 220px;
}

.side contact {
  padding-left: 5px;
  padding-bottom: 20px;
}

.side contact a {
  text-decoration: none;
  color: black;
}

.side img {
  width: 12px;
  vertical-align: middle;
  padding-right: 12px;
}

.side logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-right: 25px;
  padding-left: 5px;
  max-width: 150px;
}

.side logo a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  padding-right: 10px;
}

.side a:hover {
  color: red;
}

@media only screen and (max-width: 829px) {
  header {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  content {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .topnav {
    justify-content: center;
  }

  .topnav a {
    margin: 5px 14px 5px 14px;
  }
}

@media only screen and (max-width: 760px) {
  .side {
    display: none;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  content {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}